# Node.js
node_modules/

# Logs
logs/
*.log

# Build output
dist/

# Dependency lock files
yarn.lock

# IDE and editor files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Testing
coverage/

# Miscellaneous
.DS_Store
Thumbs.db